<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.adamjsmith.letmeknow"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!-- The following two permissions are not required to use
     	Google Maps Android API v2, but are recommended. -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<permission
		android:name="info.adamjsmith.letmeknow.permission.MAPS_RECEIVE"
		android:protectionLevel="signature"/>
	<uses-permission android:name="info.adamjsmith.letmeknow.permission.MAPS_RECEIVE"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".ActivityPager"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstancePagerActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityPager" />
        </activity>
        <activity
            android:name=".MessagePagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityPager" />
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityPager" />
        </activity>
        <activity
            android:name=".MessageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityPager" />
            <intent-filter>
                <action android:name="info.adamjsmith.letmeknow.MessageActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationChoiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityPager" />
            <intent-filter>
                <action android:name="info.adamjsmith.letmeknow.LocationChoiceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactListActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityPager" />
            <intent-filter>
                <action android:name="info.adamjsmith.letmeknow.ContactListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       
        <activity
            android:name=".Preferences"
            android:label="Preferences" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="info.adamjsmith.letmeknow.Preferences" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<meta-data
			android:name="com.google.android.maps.v2.API_KEY"
			android:value="@string/debug_key"/>
		<meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
    </application>

</manifest>
